<table border="1" cellpadding="8" class="table table-striped border">
  <thead class="table-dark">
    <tr class="text-center border">
      <th>Nom</th>
      <th>Description</th>
      <th>Repository</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="text-center border">
    @for (app of applications; track app.id) {
      <tr class="border p-4">
        <td>{{ app.name }}</td>
        <td>{{ app.description }}</td>
        <td>{{ app.repository }}</td>
        <td>
          <button type="button" (click)="deleteApp(app)">Supprimer</button>
        </td>
      </tr>
    }
  </tbody>
</table>

<!-- <div *ngIf="showForm">
  <h3>{{ editingId ? 'Modifier' : 'Nouvelle' }} application</h3>
  <label>Nom : <input [(ngModel)]="form.name"></label><br>
  <label>Description : <input [(ngModel)]="form.description"></label><br>
  <label>Port : <input type="number" [(ngModel)]="form.port"></label><br>
  <label>Réplicas : <input type="number" [(ngModel)]="form.replicas"></label><br>
  <button (click)="save()">Enregistrer</button>
  <button (click)="cancel()">Annuler</button>
</div> -->